* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  max-width: 768px !important;
  margin-inline: auto;
  background-color: rgb(91 116 161) !important;
}

.back-btn-and-score-wrapper {
  display: flex;
  justify-content: space-between;
}

.back-btn-wrapper {
  left: 3px;
  top: 7px;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
  z-index: 30;
}

.back-btn {
  width: 21px;
}

.score-wrap {
  text-align: right;
  /* position: absolute; */
  right: 0;
  top: 0;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
  font-size: 0.8rem;
  z-index: 30;
  line-height: 1rem;
}
