* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  max-width: 600px !important;
  margin-inline: auto;
  background-color: rgb(91 116 161) !important;
}
