body {
  background-color: rgb(91 116 161) !important;
  font-family: "Bebas Neue", cursive;
  min-height: 100vh;
  max-width: 700px;
  overflow-y: scroll !important;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("font/BebasNeue-Regular.ttf");
}

#page-wrap {
  overflow-x: hidden;
}

#page-wrap h1 {
  text-align: center;
  margin: 1rem;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

#page-wrap img {
  display: block;
  width: 95%;
  height: 25%;
  margin: 0.5rem auto;
  border-radius: 1%;
}

img {
  box-shadow: 0px 0px 5px #000;
}
